pandas
numpy
matplotlib
seaborn
scikit-learn
folium
prophet
xgboost
lightgbm
scipy
statsmodels
jupyter
ipykernel
langchain
langchain-community
chromadb
sentence-transformers
fastapi
uvicorn
streamlit
supabase
requests
python-dotenv
nbmerge
plotly
geopandas
pyarrow
openpyxl